@use "/src/styles/media";

.contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  --border-radius: 8px;
  padding: 1rem;
  background-color: var(--cor-fundo-500);
  width: min(100%, 45rem);
  border: 2px solid var(--cor-borda);
  border-radius: var(--border-radius);
  margin-inline: auto;

  &__title {
    font-size: clamp(1.4rem, 5vw, 2rem);
    text-align: center;
    margin: 1rem auto;
    max-width: 30rem;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;

    @include media.tablet {
      width: 80%;
    }
  }

  &__button {
    margin-block: 1rem;
  }
}