:root {
  --cor-primaria: #7E55BF;
  --cor-hover: #a085e0;

  --cor-fundo: #121214;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: url("./img/floral.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 50vh;
  font-family: "Outfit", sans-serif;
  color: white;
}

.container,
.sobre-mim {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nome {
  margin: 0;
  font-size: 5rem;
  color: var(--cor-primaria);
}

.titulo {
  font-size: 3rem;
}

.adendo {
  color: #acacbd;
  margin: 2rem;

}

.social-links {
  display: flex;
  gap: 1.5rem;
  margin-left: -15px;
}

.social-icon {
  font-size: 2.5rem;
}

.social-link {
  --transition-time: 300ms;

  color: var(--cor-primaria);
  text-decoration: none;
  transition: 
  color var(--transition-time) ease,
  transform var(--transition-time) ease;
}

.social-link:hover {
  color: var(--cor-hover);
  transform: translateY(-3px);
  cursor: url("./img/external.svg"), pointer;
}
